# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\YandexDisk_t0nyp0\YandexDisk\docs\Java\IdeaProjects\JM_Pre-Project_2_2_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
